a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption,  cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
	margin: 0;
	padding: 0;
	border: 0;
}
a{
	text-decoration: none; 
}
body, html {
    color: #f7f1ef;
    width: 100%;
    height: 100%;
}
.header{
	width: 100%;
	height: 60px;
	background: #fff;
	.logo{
		line-height: 60px;
		padding-left:50px; 
		margin-top:13px; 
		float: left;
	}
	.logo_2{
		line-height: 60px;
		padding-left:50px; 
		margin-top:13px;
		display: none;
	}
	.header_nav{
		text-align: center;
		line-height: 60px;
		a{
			margin: 0 34px;
			color: #828282;
			display: inline-block;
			height: 60px;
			width: 100px;
		}
		a:hover{
			color: red;
			border-bottom: 2px solid red;
			box-sizing:border-box;
		}

	}
	.header_nav_1
	{
		margin-top: -40px;

	}
	 img{
		float:right;
		margin: 0 21px;

	}
	.tankuang{
		width: 320px;
		height: 270px;
		background: #fff;
		position: fixed;
		right:20px;
		top: 40px;
		box-shadow: 5px 5px 10px gray;
		display: none;
		p{
			height: 48px;
			border-bottom: 1px solid #828282;
			color: #828282;
			font-size: 12px;
			line-height: 50px;
			padding: 0 20px;
		}
		span{
			line-height: 100px;
			padding-left: 20px;
			color: #0099cc;
		}

	}
	.tankuang2{
		width: 320px;
		height: 186px;
		position: fixed;
		background: #fff;
		right:0px;
		top: 40px;
		text-align: center;
		z-index: 1;
		display: none;
		span{
			color: #999999;
			font-size: 12px;
			padding-right: 10px;
			line-height: 115px;
		}
		p{
			width: 280px;
			height: 40px;
			color: #999999;
			font-size: 14px;
			color: #fff;
			border: 1px solid #eb0028;
			border-radius: 5px;
			background: #eb0028;
			line-height: 40px;
			margin: 0 20px;
			transition:all 1s;
		}
		p:hover{
			background-color:#b8001f; 
		}
	}
}
.column{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #e5e5e5;
	span{
		display: inline-block;
		float: left;
		line-height: 60px;
		padding-left: 46px;
		color: black;
	}
	#y1{
		color: #808080;
	}
	p{
		float: right;
		width: 120px;
		height: 46px;
		border: 1px solid #fff;
		color:#fff;
		line-height:46px;
		background: red;
		text-align: center;
		border-radius: 5px;
		margin-right: 50px;
	}
}
.content{
	width: 100%;
	height: 748px;
	img{
		width: 100%;
	}
}
.video{
	width: 100%;
	height: 550px;
	background-color: #f7f1ef;
	position:relative;
	.video1{
		position: absolute;
		top:0;
		left:0;
		#wei1{
		width: 631px;
		height: 550px;

		}
	}
	.video2{
		position: absolute;
		top: 0;
		left: 631px;
		#wei2{
		width: 631px;
		height: 550px;
		}
	}
	
	#zhezhao1{
		width: 631px;
		height: 550px;
		position: relative;
		display: none;
		position: absolute;
		opacity:.3;
		z-index: 1;
		top: 0;
		left: 0;
		float: left;
	}
	.bofang{
			position: absolute;
			left: 300px;
			top:300px;
			opacity:10;
			display: none;
	}
	#zhezhao2{
		width: 631px;

		height: 550px;
		opacity:.3;
		z-index: 1;
		position: absolute;
		top: 0;
		// left:630px;
		display: none;
		float: left;
	}
	.bofang1{
			position: absolute;
			left: 950px;
			top:250px;
			opacity:10;
			display: none;
	}
	img{
		float: left;
	}
	
}
.introduce{
	width: 100%;
	background: #fff;
	padding-top: 20px;
	text-align: center;
	overflow: hidden;
		p{	
			padding-top: 46px;
			font-size: 20px;
			-webkit-background-clip: text;
			color: transparent;
			text-align: center;
			margin: 0 250px;

			background-image: -webkit-linear-gradient(-45deg,#481c7a 28%,#3e186a 34%,#000 70%);
		}
		h1{
			margin: 0 250px;

			padding-top: 20px;
			text-align: center;
			-webkit-background-clip: text;
			color: transparent;
			background-image: -webkit-linear-gradient(-45deg,#481c7a 28%,#3e186a 34%,#000 70%);

		}
		span{
			margin: 0 250px;
			display: block;
			line-height: 1.5;
			text-align: center;
			margin-top: 20px;
			color: black;
		}
		a{
			margin: 0 auto;
			color: black;
			border-bottom: 2px solid black;
			display: block;
			width: 80px;
			padding-top: 30px;
			padding-bottom: 10px;
			transition:all .5s;
		}
		a:hover{
			color: red;
			border-bottom: 2px solid red;
			width: 110px;
		}
	
}
.picture{
	background: #f7f1ef;
	width: 100%;
	text-align: center;
	padding-top: 80px;
	p{
		margin: 0 auto;
		padding-top: 20px;
		font-size: 14px;
		color: black;
	}
}
.picture2{
	width: 100%;
	height: 500px;
	background: linear-gradient(-156deg,#151e59 8%,#3e3c8f 33%,#eabafd 74%,#a37fc8);
	// transform: translate3d(0px, -98.1654px, 0px);
	transform-style:preserve-3d;
	transform:rotate(-6deg) scale(1.1);
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	img{
		width: 400px;
		transform-style:preserve-3d;
		transform:rotate(6deg);
		padding-top:20px;
	}
}
.picture3{
	width: 100%;
	height: 500px;
	background: linear-gradient(100deg,#674caf,#674caf 31%,#090217 60%,#090217 70%,#0c2e6c 86%,#0c2e6c);
	// transform: translate3d(0px, -98.1654px, 0px);
	transform-style:preserve-3d;
	transform:rotate(-6deg) scale(1.1);
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	img{
		width: 500px;
		transform-style:preserve-3d;
		transform:rotate(6deg);
		padding-top:20px;
	}
}
.picture4{
	width: 100%;
	height: 500px;
	background: #E9E4E1;
	// transform: translate3d(0px, -98.1654px, 0px);
	transform-style:preserve-3d;
	transform:rotate(-6deg) scale(1.1);
	margin-top: 80px;
	text-align: center;
	overflow: hidden;
	img{
		width:450px;
		transform-style:preserve-3d;
		transform:rotate(6deg);
	}
}
.picture5{
	width: 100%;
	height: 500px;
	background:url(https://statics.oneplus.cn/ov/assets/images/events/2018/819/cn/star.jpg);
	// transform: translate3d(0px, -98.1654px, 0px);
	transform-style:preserve-3d;
	transform:rotate(-6deg) scale(1.1);
	margin-top: 80px;
	text-align: center;
	overflow: hidden;
	img{
		width:450px;
		transform-style:preserve-3d;
		transform:rotate(6deg);
	}

}
.picture6{
	width: 100%;
	// transform: translate3d(0px, -98.1654px, 0px);
	transform-style:preserve-3d;
	// transform:rotate(-6deg) scale(1.1);
	margin-top: -20px;
	text-align: center;
	img{
		width: 100%;
		height: 1200px;
		transform-style:preserve-3d;
		// transform:rotate(-6deg);
	}
}
.introduce2{
	width: 100%;
	background: #fff;
	width: 100%;
	padding-top: 20px;
	text-align: center;
		p{	
			padding-top: 10px;
			font-size: 20px;
			-webkit-background-clip: text;
			color: transparent;
			text-align: center;
			margin: 0 250px;
			background-image: -webkit-linear-gradient(-45deg,#721321 28%,#62101c 34%,#000 70%);
		}
		h1{
			margin: 0 250px;

			padding-top: 20px;
			text-align: center;
			-webkit-background-clip: text;
			color: transparent;
			background-image: -webkit-linear-gradient(-45deg,#721321 28%,#62101c 34%,#000 70%);

		}
		span{
			margin: 0 250px;
			display: block;
			line-height: 1.5;
			text-align: center;
			margin-top: 20px;
			color: black;
		}
		a{
			margin: 0 auto;
			color: black;
			border-bottom: 2px solid black;
			display: block;
			width: 80px;
			padding-top: 30px;
			padding-bottom: 10px;
			transition:all .5s;
		}
		a:hover{
			color: red;
			border-bottom: 2px solid red;
			width: 110px;
		}
	
}
.combination{
	width: 100%;
	margin: 0 40px;
	height: 100%;
	.combination1{
		float: left;
		padding-top: 280px;
		margin: 0 40px;
		img{
			width: 336px;
			height: 942px;
		}
	}
	.combination2{
		float: left;
		padding-top: 180px;
		
		img{
			width: 336px;
			height: 939px;
		}
	}
	.combination3{
		float: left;
		margin: 0 40px;

		img{
			width: 336px;
			height: 942px;
		}
	}
}
.picture7{
	width: 100%;
	height: 800px;
	background: linear-gradient(-156deg,#151e59 8%,#3e3c8f 33%,#eabafd 74%,#a37fc8);
	// transform: translate3d(0px, -98.1654px, 0px);
	transform-style:preserve-3d;
	transform:rotate(-6deg) scale(1.1);
	margin-top: 70px;
	margin-bottom: 170px;

	text-align: center;
	overflow: hidden;
	img{
		width: 100%;
		transform-style:preserve-3d;
		transform:rotate(6deg);
		margin-top:-100px;
	}

}
.footer{
	border-top: 1px solid #898585;
	width: 100%;
	height: 275px;
	.footer_1{
	height: 275px;
	float: left;
	ul{
		float: left;
		padding-left: 120px;
		line-height:38px;
		padding-top: 38px;
		list-style: none;
		font-size: 12px;
		li{
			color: #898585;
		}
		span{
			font-size: 16px;
			color: black;
		}
	}
	li:hover{
		color: black;
	}
	}
	.footer_2{
		height: 275px;
		float: right;
		position: relative;
		h1{
			margin-right: 56px;
			padding-top: 30px;
			font-weight: 1;
			font-size: 26px;
			color: black;
			
			padding-bottom: 25px;
		}
		p{
			margin-right: 50px;
			width: 240px;
			height: 50px;
			border: 1px solid black;
			text-align: center;
			line-height: 50px;
			transition:all 1s;
			color: black;
		}
		p:hover{
			background-color: black;
			color: #fff;
			border:1px solid #fff;
		}
		span{
			display: block;
			margin-top: 20px;
			color: #828282;
			margin-left: 35px;

		}
		img{
			margin-top: 25px;
			padding-left: 56px;

		}
		#ding{
			position: absolute;
			right: 150px;
			top: 70px;
			display: none; 	
		}
	}
}
.ending{
	width: 100%;
	background-color: #f9f9f9;
	height: 120px;
	overflow: hidden;
	.china{
		img{
			float: left;
			padding-left:58px;
			margin-top: 20px;
			padding-left: 58px;
			padding-bottom: 23px;

		}
	}
	.right{
		float: right;
		padding-top: 58px;
		padding-right: 78px;
		padding-bottom: 60px;
		font-size:12px;
		
		p{
			color: black;	
		}
		
	}
}
.end{
	width: 100%;
	height: 110px;
	border-top: 1px solid #e0e0e0;
	.end_1{
		float: left;
		p{
			font-size: 10px;
			color: #a59fa2;
			padding-top: 30px;
			margin-left: 52px;
		}
		img{
			margin-left: 52px;
			padding-top: 15px;
		}
		span{
			color: black;
		}
	}
	.end_2{
		float: right;
		img{
			margin-right: 42px;
			padding-top: 20px;
		}
	}

}
